<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

	<context id="DB2Tables" targetRuntime="MyBatis3">
		<jdbcConnection
			driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver"
			connectionURL="jdbc:sqlserver://localhost:1433;databaseName=A_TEST_TOPGUN;encrypt=true;trustServerCertificate=true"
			userId="sa" password="12345">
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<javaModelGenerator
			targetPackage="exam.entities"
			targetProject="final-exam-duynt" />


		<sqlMapGenerator targetPackage="mybatis.sql"
			targetProject="final-exam-duynt/src/main/resources" />

		<javaClientGenerator type="XMLMAPPER"
			targetPackage="exam.mappers"
			targetProject="final-exam-duynt" />

		<table tableName="Person" domainObjectName="Person" />
		<table tableName="TiemChung" domainObjectName="TiemChung" />

	</context>
</generatorConfiguration>